.detail{
    box-sizing: border-box;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    width: min(90%, 1200px);
    margin: 0 auto;
    justify-content: space-between;
    gap: 20px;
}

.product-info{
   /* flex: 1 1 60%;*/
   flex: 1;
    display: inline-block;
    
}


.product-info p{
    font-size: 16px;
    text-align: justify;
    padding: 0 20px;
}

.product-info span{
   display: block;
}

.product-img{
    flex: 1;
    margin: auto 0;
   
}

.product-img img{
    max-width: 100%;
}

@media ( max-width: 768px){
    .detail{
        flex-direction: column-reverse;
    }
}